@use './vars' as v;

.infobox {
  margin: 15px 15px 0;
  border-bottom: 1px dotted v.$yellow;

  .value {
    color: v.$yellow;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0 0 0;

    @media (min-width: v.$small) {
      font-size: 14px;
    }

    @media (min-width: v.$medium) {
      font-size: 16px;
    }

    @media (min-width: v.$large) {
      font-size: 18px;
    }

    @media (min-width: v.$xlarge) {
      font-size: 22px;
    }

    // max-height query
    @media (max-height: v.$medium) {
      padding: 0;
      font-size: 14px;
      margin: 0;
    }
  }
  label {
    color: #fff;
    font-size: 14px;
    margin: 0 0 2px 0;
    display: block;
    text-align: right;

    @media (max-height: v.$large) {
      padding: 0;
      font-size: 12px;
    }

    @media (max-height: v.$medium) {
      padding: 0;
      font-size: 10px;
      margin: 0;
    }
  }
}
